<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <% words = PigLatinizer.new %>
    <p><%= words.piglatinize(@text) %></p>
  </body>
</html>
